* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("https://loremflickr.com/1920/1080/nature,landscape");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa-maior {
    width: 450px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 15px;
}

.input-cidade {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    background-color:  #7c7c7c2b;
    color: #fff;
    font-size: 20px;
    width: calc(100% - 100px);
}

.botao {
    padding: 8px;
    border: none;
    background-color: #7c7c7c2b;
    border-radius: 50%;
    margin-left: 7px;
    float: right;
    cursor: pointer;
    display: flex;  
    align-items: center;
    justify-content: center;
}

.botao:hover {
    background-color: #7c7c7c;
    transition: ease-in-out 0.2s;
    transform: scale(1.1);
}

.caixa-media {
    margin-top: 30px;
}

.cidade {
    font-size: 24px;
    color: #fff;
}

.temp {
    font-size: 18px;
    color: #fff;
    margin-top: 5px;
}

.umidade {
    color: #fff;
    font-size: 14px;
    
}

.botao-ia {
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;
    padding: 12px 20px;
    color: #fff;
    background-color: #1e6dff;
    border: none;
    cursor: pointer;
}

.botao-ia:hover {
    background-color: #1e6dffcc;
    transition: ease-in-out 0.2s;
}

.resposta-ia {
    color: #fff;
    margin-top: 15px;
    font-size: 14px;
    line-height: 1.5;
}
